.divider {
    position: relative;
    width: 100%;
    line-height: 0;
    overflow: hidden;
    margin: -2px 0;
    /* prevent sub-pixel gap */
    pointer-events: none;
}

.divider svg {
    display: block;
    width: 100%;
    height: 60px;
}

.flip {
    transform: scaleY(-1);
}

@media (max-width: 768px) {
    .divider svg {
        height: 36px;
    }
}